.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;

  width: 46rem;
  height: 4.5rem;

  background: var(--gray-500);
  
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
}

.task-done {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;

  width: 46rem;
  height: 4.5rem;

  background: var(--gray-500);
  color: var(--gray-300);
  
  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 0.5rem rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
}

.icon-button {
  background: var(--gray-500);
  border: none !important;
}

.delete-button:hover {
  background: var(--gray-400);
}

.delete-button:active {
  background: var(--gray-500);
}
