.input {
  background: var(--gray-500);
  color: var(--gray-100);

  padding: 1rem;
  gap: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--gray-700);

  height: 3.335rem;
  width: 39.875rem;
}

.input-border input:focus {
  outline: none !important;
  
  border: 1px solid var(--purple-dark);
}

.input-border {
  padding: 0.5rem;
}

::placeholder {
  color: var(--gray-300);
}