.DotNotChecked svg:hover path {
  fill: var(--blue-dark);
}

.DotNotChecked svg:active path {
  fill: var(--blue);
}

.DotChecked svg:hover path:nth-child(1),
.DotChecked svg:hover path:nth-child(2) {
  fill: var(--purple);
}

.DotChecked svg:active path:nth-child(1),
.DotChecked svg:hover path:nth-child(2) {
  fill: var(--purple-dark);
}

.Trash svg:hover path {
  fill: var(--danger);
}

.Trash svg:active path {
  fill: var(--gray-300);
}
